/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/abstract-dark-blue-futuristic-digital-grid-background.jpg");
  background-position: center center;
  background-size: cover;
}

.site-container {
  width: 80%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  transition: color 0.3s;
  color: #fff;
}

ul {
  list-style-type: none;
}

/* Header Styles */
header {
  position: absolute;
  top: 30px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  padding-left: 15%;
  padding-right: 15%;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Phudu", cursive;
}

.header-left h2 {
  margin: 0;
  text-decoration: none;
}

#cursor {
  flex-shrink: 0;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right img {
  height: 30px;
  width: 30px;
}

.header-right a:hover {
  transform: scale(0.98);
  box-shadow: 0 4px 8px rgba(248, 247, 247, 0.7);
  padding: 5px;
  border-radius: 4px;
}

nav a {
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

/* Main Content Styles */
section {
  padding: 2em;
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.project {
  flex: 0 0 calc(50% - 10px);
  margin: 5px;
}

.project-content {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.project img {
  margin-bottom: 10px;
  height: 300px;
  width: 500px;
}

.project-title {
  padding: 10px;
  font-weight: 700;
}

.visit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 120px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  opacity: 0;
  background-color: purple;
  color: #fff;
}

.project-content:hover .visit-button {
  opacity: 1;
}

.skills-section {
  margin-top: 50px;
  height: 400px;
}

.skills-container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skill-set {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  transition: transform 0.3s, opacity 0.3s;
}

.skills-container img {
  width: 100px;
  height: 100px;
}

.skill-set:hover {
  transform: scale(0.98);
  opacity: 0.7;
}

/* Theme switcher styles */
.theme-switch-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.theme-switch {
  display: inline-block;
  height: 26px;
  width: 50px;
  position: relative;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  background-color: #fff;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 3px;
  height: 20px;
  width: 20px;
}

input:checked + .slider {
  background-color: #333;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Responsive styles */
@media (max-width: 760px) {
  header {
    flex-direction: column;
  }

  .header-left,
  .header-right {
    text-align: center;
    padding: 5px 0;
  }

  nav li {
    display: block;
    margin-bottom: 5px;
  }

  .project-content {
    width: 90%;
    margin: 10px auto;
  }

  .skills-container,
  .skills {
    flex-direction: column;
  }

  .skill-set {
    margin: 10px 0;
  }
}

#about {
  padding-top: 100px;
  width: 80%;
  font-family: "Caveat", cursive;
  font-size: 30px;
}

#about h3 {
  text-decoration: underline;
}

.cursor-circle {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease-out, left 0.05s ease-out, top 0.05s ease-out;
}

a[href*="linkedin.com"] img,
a[href*="github.com"] img {
  border-radius: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal-content {
  max-width: 600px;
  padding: 40px;
  background-color: rgb(38, 42, 43); /* Updated background color to #333 */
  color: #fff; /* Updated text color to #fff */
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

/* Input Fields and Textarea Styling */
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #555; /* Updated background color */
  border: 2px solid #777; /* Updated border color */
  border-radius: 4px;
  color: #fff; /* Updated text color to #fff */
  transition: border-color 0.3s;
}

/* Focusing Effect for Input Fields and Textarea */
.modal-content input[type="text"]:focus,
.modal-content input[type="email"]:focus,
.modal-content textarea:focus {
  border-color: #eee; /* Lighter border color on focus */
  outline: none;
}

/* Submit Button Styling */
.modal-content input[type="submit"] {
  background-color: #555;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover Effect for Submit Button */
.modal-content input[type="submit"]:hover {
  background-color: #777;
}

/* Heading in the Modal */
.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* Updated text color to #fff */
}

#resumeButton {
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#resumeButton:hover {
  background-color: #fff;
  color: #000;
}

#contactButton {
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#contactButton:hover {
  background-color: #fff;
  color: #000;
}

/* More pronounced enhancements for LinkedIn and GitHub icons */
.header-right a {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1); /* Slight background */
  border-radius: 50%; /* Making the container rounded */
  padding: 5px; /* Padding around the image */
  margin-right: 15px; /* Increased spacing between icons */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  transition: transform 0.3s; /* Transition for the rotation */
}

.header-right a img {
  display: block;
  width: 40px; /* Increased size */
  height: auto;
  border-radius: 50%;
  transition: all 0.3s; /* Smooth transition for all properties */
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
}

.header-right a:hover {
  transform: rotate(10deg); /* Rotation on hover */
}

.header-right a:hover img {
  transform: scale(1.1); /* More enlargement on hover */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Stronger shadow on hover */
}

.project-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.project-content:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project img:hover {
  transform: scale(1.05);
  filter: grayscale(80%);
  transition: transform 0.3s, filter 0.3s;
}

.project-title {
  font-size: 24px;
  color: #f5f5f5;
}

.project-header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.project-title {
  font-size: 1.8em;
  color: #ffffff;
  transition: color 0.3s;
}

.project-content:hover .project-title {
  color: #ffffff;
}

.project-description {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 5px 5px;
  text-align: center;
}

.project img {
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow */
  transition: box-shadow 0.3s, transform 0.3s; /* Smooth transition for shadow and transform */
}

.project img:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
  transform: scale(1.05); /* Slight enlargement on hover */
}

/* Styling for the "Visit" button */
.visit-button {
  display: inline-block;
  background-color: #6a5acd; /* Dark background */
  color: #fff; /* White text */
  padding: 8px 15px; /* Padding around text */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  margin-top: 10px; /* Space above the button */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.visit-button:hover {
  background-color: #fff; /* White background on hover */
  color: #333; /* Dark text on hover */
}

.project img:hover {
  transform: rotate(5deg); /* Slight rotation on hover */
  filter: brightness(0.8); /* Darken the image on hover */
}
