* {
  font-family: "Black Ops One", cursive;
  font-family: "Notable", sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 70px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

header {
  position: fixed; /* Fixes the header to the top */
  top: 0; /* Aligns the header to the top edge */
  width: 70%; /* Ensures it spans the given width */
  left: 50%; /* Moves the left edge to the center of the screen */
  transform: translateX(-50%); /* Shifts it left by half of its width */
  z-index: 1000; /* Ensures the header stays above other elements */
}

h2 {
  font-family: "Black Ops One", cursive;
  font-family: "Notable", sans-serif;
  font-family: "Phudu", cursive;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

.header-left a {
  text-decoration: none;
  color: #333;
}

.header-right img {
  height: 30px;
  width: 30px;
}

.header-right {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}

.header-right a {
  transition: all 0.3s ease; /* This ensures a smooth transition for all the properties */
  padding: 0px 2px; /* Slight padding for a button-like effect */
  border-radius: 10px; /* Rounded corners */
  display: inline-block; /* Allows for padding and maintains inline appearance */
  color: #333; /* Initial color */
}

.header-right a:hover {
  color: #555; /* Slightly darker text on hover */
  transform: scale(1.3); /* Scale up a bit on hover */
  text-decoration: none; /* Remove any underline */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

section {
  padding: 2em;
}

ul {
  list-style-type: none;
}

.project {
  padding: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the title */
  justify-content: center;
}

.projects-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* To ensure responsiveness */
}

.project-content {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Make sure the children stack vertically */
  align-items: center; /* Align children to the center */
  border: 1px solid #ccc; /* This line adds the border */
  border-radius: 5px; /* Optional: This line rounds the corners of the border */
  padding: 10px;
  width: 500px;
  margin-right: 10px;
  padding: 1em;
}

.project img {
  margin-bottom: 10px; /* Add some spacing between the image and the span/link below it */
  height: 200px;
  width: 400px;
}

.project-content {
  position: relative;
  overflow: hidden; /* Ensures nothing goes outside the container */
}

.visit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 120px; /* Set a fixed width for the button */
  height: 40px; /* Set a fixed height for the button */
  top: 50%; /* Center the button vertically */
  left: 50%; /* Center the button horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center it */
  border-radius: 20px; /* Make the button rounded */
  opacity: 0; /* Make the button invisible by default */
  transition: opacity 0.3s;
  background-color: rgb(102, 2, 102); /* Slightly darken the button on hover */
  color: #fff;
  text-decoration: none;
}

.project-content:hover .visit-button {
  opacity: 1; /* Show the button on hover */
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

body[data-theme="dark"] {
  background-color: #352f44;
  color: #b9b4c7;
}

body[data-theme="dark"] header {
  background-color: #352f44;
}

body[data-theme="dark"] nav a,
body[data-theme="dark"] .project a,
body[data-theme="dark"] .header-left a {
  color: #faf0e6;
}

.theme-switch-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  z-index: 1000;
}

.theme-switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 50px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 20px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #333;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.theme-switch-wrapper > span {
  margin: 0 10px;
  font-size: 18px;
}

.theme-switch-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  z-index: 1000;
}

#cursor {
  animation: blink 0.5s infinite;
}

img {
  height: 100px;
  width: 100px;
}

.skills-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skill-set {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

h3 + div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h3 + div img {
  margin: 0 auto;
}

p {
  text-align: center;
}

.skill-set {
  transition: transform 0.3s, opacity 0.3s; /* Transition effect for smooth scaling and opacity change */
}

.skill-set:hover {
  transform: scale(0.98); /* 10% scale up on hover */
  opacity: 0.7; /* Slight opacity reduction to give a highlighting effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.966);
  border-radius: 1em;
}

/*  ---------------------------------------------------- */

/* Responsive styles */
@media (max-width: 760px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  .top-row {
    flex-direction: column;
    align-items: center;
  }

  .header-left,
  .header-right {
    text-align: center;
    padding: 5px 0;
  }

  nav ul {
    text-align: center;
    padding-top: 10px;
  }

  nav li {
    display: block;
    margin-bottom: 5px;
  }

  .project-content {
    width: 90%; /* Adjust width for smaller screens */
    margin: 10px auto;
  }

  .skills-container,
  .skills {
    flex-direction: column;
  }

  .skill-set {
    margin: 10px 0;
  }
}
