/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  padding: 70px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/abstract-dark-blue-futuristic-digital-grid-background.jpg");
  background-position: center center;
  background-size: cover;
}

.site-container {
  width: 80%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  transition: color 0.3s;
  color: #fff;
}

ul {
  list-style-type: none;
}

/* Header Styles */
header {
  position: absolute;
  top: 30px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  padding-left: 15%;
  padding-right: 15%;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Phudu", cursive;
}

.header-left h2 {
  margin: 0;
  text-decoration: none;
}

#cursor {
  flex-shrink: 0;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right img {
  height: 30px;
  width: 30px;
}

.header-right a:hover {
  transform: scale(0.98);
  box-shadow: 0 4px 8px rgba(248, 247, 247, 0.7);
  padding: 5px;
  border-radius: 4px;
}

nav a {
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

/* Main Content Styles */
section {
  padding: 2em;
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.project {
  flex: 0 0 calc(50% - 10px);
  margin: 5px;
}

.project-content {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.project img {
  margin-bottom: 10px;
  height: 300px;
  width: 500px;
}

.project-title {
  padding: 10px;
  font-weight: 700;
}

.visit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 120px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  opacity: 0;
  background-color: purple;
  color: #fff;
}

.project-content:hover .visit-button {
  opacity: 1;
}

.skills-section {
  margin-top: 50px;
  height: 400px;
}

.skills-container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skill-set {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  transition: transform 0.3s, opacity 0.3s;
}

.skills-container img {
  width: 100px;
  height: 100px;
}

.skill-set:hover {
  transform: scale(0.98);
  opacity: 0.7;
  box-shadow: 0 4px 8px rgba(250, 250, 250, 0.7);
  border-radius: 1em;
}

/* Theme switcher styles */
.theme-switch-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.theme-switch {
  display: inline-block;
  height: 26px;
  width: 50px;
  position: relative;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  background-color: #fff;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 3px;
  height: 20px;
  width: 20px;
}

input:checked + .slider {
  background-color: #333;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Responsive styles */
@media (max-width: 760px) {
  header {
    flex-direction: column;
  }

  .header-left,
  .header-right {
    text-align: center;
    padding: 5px 0;
  }

  nav li {
    display: block;
    margin-bottom: 5px;
  }

  .project-content {
    width: 90%;
    margin: 10px auto;
  }

  .skills-container,
  .skills {
    flex-direction: column;
  }

  .skill-set {
    margin: 10px 0;
  }
}

#about {
  padding-top: 100px;
  width: 80%;
  font-family: "Caveat", cursive;
  font-size: 30px;
}

#about h3 {
  text-decoration: underline;
}

.cursor-circle {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Ensures the circle doesn't interfere with other elements */
  z-index: 9999;
}
